In [1]:
import talib
import pandas as pd

In [2]:
# DataFrameがdfという変数に格納されているとします
df = pd.read_pickle('./data/df_rates_3H.pkl')
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0
...,...,...,...,...,...,...,...,...
60252,2024-07-30 03:00:00,153.827,154.241,153.607,154.012,21106,23,0
60253,2024-07-30 06:00:00,154.012,154.758,153.967,154.655,21660,23,0
60254,2024-07-30 09:00:00,154.655,155.209,154.589,154.657,30640,23,0
60255,2024-07-30 12:00:00,154.657,154.926,154.655,154.879,15230,23,0
60256,2024-07-30 15:00:00,154.877,155.014,154.351,154.367,19187,23,0

In [3]:
# datetune列の内容をDatetime型かつaware(UTC)で、"datetime_utc"列に入れる 
df["time_jst"] = pd.to_datetime(df["time"], utc=True) 
# JSTに変換したデータを"datetime_jst"列に入れる
df["time_jst"] = df["time_jst"].dt.tz_convert('Asia/Tokyo')
df

,time,open,high,low,close,tick_volume,spread,real_volume,time_jst
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0,1971-01-04 09:00:00+09:00
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0,1971-01-05 09:00:00+09:00
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0,1971-01-06 09:00:00+09:00
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0,1971-01-07 09:00:00+09:00
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0,1971-01-08 09:00:00+09:00
...,...,...,...,...,...,...,...,...,...
60252,2024-07-30 03:00:00,153.827,154.241,153.607,154.012,21106,23,0,2024-07-30 12:00:00+09:00
60253,2024-07-30 06:00:00,154.012,154.758,153.967,154.655,21660,23,0,2024-07-30 15:00:00+09:00
60254,2024-07-30 09:00:00,154.655,155.209,154.589,154.657,30640,23,0,2024-07-30 18:00:00+09:00
60255,2024-07-30 12:00:00,154.657,154.926,154.655,154.879,15230,23,0,2024-07-30 21:00:00+09:00
60256,2024-07-30 15:00:00,154.877,155.014,154.351,154.367,19187,23,0,2024-07-31 00:00:00+09:00

In [4]:
# RSI(7)の計算
rsi_val = talib.RSI(df['close'], timeperiod=7)
# Stochastics(14, 3, 3)の計算
slowk, slowd = talib.STOCH(df['high'], df['low'], df['close'], fastk_period=14, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
# MACD(12, 26, 9)の計算
macd, macdsignal, macdhist = talib.MACD(df['close'], fastperiod=12, slowperiod=26, signalperiod=9)
# ADR(7)の計算
adr = talib.SMA(df['high'], timeperiod=7) - talib.SMA(df['low'], timeperiod=7)

# 結果をDataFrameに追加
df['RSI'] = rsi_val
df['Stoch_K'] = slowk
df['Stoch_D'] = slowd
df['MACD'] = macd
df['MACD_Signal'] = macdsignal
df['MACD_Hist'] = macdhist
df['ADR'] = adr
df

,time,open,high,low,close,tick_volume,spread,real_volume,time_jst,RSI,Stoch_K,Stoch_D,MACD,MACD_Signal,MACD_Hist,ADR
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0,1971-01-04 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0,1971-01-05 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0,1971-01-06 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0,1971-01-07 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0,1971-01-08 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60252,2024-07-30 03:00:00,153.827,154.241,153.607,154.012,21106,23,0,2024-07-30 12:00:00+09:00,55.105870,54.988399,56.103377,-0.163968,-0.272963,0.108994,0.402143
60253,2024-07-30 06:00:00,154.012,154.758,153.967,154.655,21660,23,0,2024-07-30 15:00:00+09:00,69.600305,66.778068,58.795835,-0.089613,-0.236293,0.146680,0.404000
60254,2024-07-30 09:00:00,154.655,155.209,154.589,154.657,30640,23,0,2024-07-30 18:00:00+09:00,69.635879,75.854124,65.873530,-0.030176,-0.195070,0.164893,0.449000
60255,2024-07-30 12:00:00,154.657,154.926,154.655,154.879,15230,23,0,2024-07-30 21:00:00+09:00,73.631819,84.709236,75.780476,0.034444,-0.149167,0.183611,0.419143
60256,2024-07-30 15:00:00,154.877,155.014,154.351,154.367,19187,23,0,2024-07-31 00:00:00+09:00,54.377072,73.938020,78.167127,0.043836,-0.110566,0.154403,0.482143

In [5]:
# バーの色を決定
df['GreenBar'] = (df['RSI'] > 50) & (df['Stoch_K'] > 50) & (df['MACD_Hist'] > 0)
df['RedBar'] = (df['RSI'] < 50) & (df['Stoch_K'] < 50) & (df['MACD_Hist'] < 0)
df['BlackBar'] = ~(df['GreenBar'] | df['RedBar'])
df

,time,open,high,low,close,tick_volume,spread,real_volume,time_jst,RSI,Stoch_K,Stoch_D,MACD,MACD_Signal,MACD_Hist,ADR,GreenBar,RedBar,BlackBar
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0,1971-01-04 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0,1971-01-05 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0,1971-01-06 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0,1971-01-07 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0,1971-01-08 09:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60252,2024-07-30 03:00:00,153.827,154.241,153.607,154.012,21106,23,0,2024-07-30 12:00:00+09:00,55.105870,54.988399,56.103377,-0.163968,-0.272963,0.108994,0.402143,True,False,False
60253,2024-07-30 06:00:00,154.012,154.758,153.967,154.655,21660,23,0,2024-07-30 15:00:00+09:00,69.600305,66.778068,58.795835,-0.089613,-0.236293,0.146680,0.404000,True,False,False
60254,2024-07-30 09:00:00,154.655,155.209,154.589,154.657,30640,23,0,2024-07-30 18:00:00+09:00,69.635879,75.854124,65.873530,-0.030176,-0.195070,0.164893,0.449000,True,False,False
60255,2024-07-30 12:00:00,154.657,154.926,154.655,154.879,15230,23,0,2024-07-30 21:00:00+09:00,73.631819,84.709236,75.780476,0.034444,-0.149167,0.183611,0.419143,True,False,False
60256,2024-07-30 15:00:00,154.877,155.014,154.351,154.367,19187,23,0,2024-07-31 00:00:00+09:00,54.377072,73.938020,78.167127,0.043836,-0.110566,0.154403,0.482143,True,False,False

In [6]:
# ストップロスと利益目標の計算
stop_loss_multiple = 1.5
profit_target_multiple = 3.0

df['LongStopLimit'] = df['high'] + 0.01
df['LongProfitTarget'] = df['high'] + (profit_target_multiple * df['ADR'])
df['LongStopLoss'] = df['high'] - (stop_loss_multiple * df['ADR'])

df['ShortStopLimit'] = df['low'] - 0.01
df['ShortProfitTarget'] = df['low'] - (profit_target_multiple * df['ADR'])
df['ShortStopLoss'] = df['low'] + (stop_loss_multiple * df['ADR'])

df

,time,open,high,low,close,tick_volume,spread,real_volume,time_jst,RSI,...,ADR,GreenBar,RedBar,BlackBar,LongStopLimit,LongProfitTarget,LongStopLoss,ShortStopLimit,ShortProfitTarget,ShortStopLoss
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0,1971-01-04 09:00:00+09:00,NaN,...,NaN,False,False,True,357.740,NaN,NaN,357.720,NaN,NaN
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0,1971-01-05 09:00:00+09:00,NaN,...,NaN,False,False,True,357.820,NaN,NaN,357.800,NaN,NaN
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0,1971-01-06 09:00:00+09:00,NaN,...,NaN,False,False,True,357.870,NaN,NaN,357.850,NaN,NaN
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0,1971-01-07 09:00:00+09:00,NaN,...,NaN,False,False,True,357.880,NaN,NaN,357.860,NaN,NaN
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0,1971-01-08 09:00:00+09:00,NaN,...,NaN,False,False,True,357.830,NaN,NaN,357.810,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60252,2024-07-30 03:00:00,153.827,154.241,153.607,154.012,21106,23,0,2024-07-30 12:00:00+09:00,55.105870,...,0.402143,True,False,False,154.251,155.447429,153.637786,153.597,152.400571,154.210214
60253,2024-07-30 06:00:00,154.012,154.758,153.967,154.655,21660,23,0,2024-07-30 15:00:00+09:00,69.600305,...,0.404000,True,False,False,154.768,155.970000,154.152000,153.957,152.755000,154.573000
60254,2024-07-30 09:00:00,154.655,155.209,154.589,154.657,30640,23,0,2024-07-30 18:00:00+09:00,69.635879,...,0.449000,True,False,False,155.219,156.556000,154.535500,154.579,153.242000,155.262500
60255,2024-07-30 12:00:00,154.657,154.926,154.655,154.879,15230,23,0,2024-07-30 21:00:00+09:00,73.631819,...,0.419143,True,False,False,154.936,156.183429,154.297286,154.645,153.397571,155.283714
60256,2024-07-30 15:00:00,154.877,155.014,154.351,154.367,19187,23,0,2024-07-31 00:00:00+09:00,54.377072,...,0.482143,True,False,False,155.024,156.460429,154.290786,154.341,152.904571,155.074214

In [7]:
# 取引シグナルの生成
df['LongEntry'] = (df['GreenBar']) & (~df['GreenBar'].shift(1))
df['ShortEntry'] = (df['RedBar']) & (~df['RedBar'].shift(1))
df['LongExit'] = (df['BlackBar']) | (df['RedBar'])
df['ShortExit'] = (df['BlackBar']) | (df['GreenBar'])
df

TypeError: bad operand type for unary ~: 'float'