In [6]:
from datetime import datetime
import pandas as pd
import talib

In [7]:
df_rates = pd.read_pickle('./data/df_rates_3H.pkl')
df_rates

,time,open,high,low,close,tick_volume,spread,real_volume
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0
...,...,...,...,...,...,...,...,...
60245,2024-07-29 06:00:00,153.409,153.685,153.294,153.376,21860,23,0
60246,2024-07-29 09:00:00,153.376,153.910,153.132,153.680,32117,23,0
60247,2024-07-29 12:00:00,153.677,153.884,153.579,153.823,21934,23,0
60248,2024-07-29 15:00:00,153.826,154.200,153.720,154.038,33003,23,0
60249,2024-07-29 18:00:00,154.037,154.039,153.924,153.967,2128,23,0

In [8]:
def green_bar(row):
    if (row['rsi'] > 50) and (row['stoch_k'] > 50) and (row['macd_hist'] > 0):
        return int(1)
    else:
        return int(0)
    
def red_bar(row):
    if (row['rsi'] < 50) and (row['stoch_k'] < 50) and (row['macd_hist'] < 0):
        return int(-1)
    else:
        return int(0)
    
def black_bar(row):
    if (row['green_bar'] == 0) and (row['red_bar'] == 0):
        return int(1)
    else:
        return int(0)

In [9]:
df_rates['rsi'] = talib.RSI(df_rates['close'], timeperiod=7)
df_rates['stoch_k'], df_rates['stoch_d'] = talib.STOCH(df_rates['high'], df_rates['low'], df_rates['close'],
                                                       fastk_period=14, slowk_period=3, slowd_period=3)
df_rates['macd'], df_rates['macd_signal'], df_rates['macd_hist'] = talib.MACD(df_rates['close'],
                                                                fastperiod=12, slowperiod=26, signalperiod=9)

# df_rates['time_jst'] = df_rates['time'].dt.k

df_rates['green_bar'] = df_rates.apply(green_bar, axis=1)
df_rates['red_bar'] = df_rates.apply(red_bar, axis=1)
df_rates['black_bar'] = df_rates.apply(black_bar, axis=1)


df_rates

,time,open,high,low,close,tick_volume,spread,real_volume,rsi,stoch_k,stoch_d,macd,macd_signal,macd_hist,green_bar,red_bar,black_bar
0,1971-01-04 00:00:00,357.730,357.730,357.730,357.730,1,50,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1,1971-01-05 00:00:00,357.810,357.810,357.810,357.810,1,50,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
2,1971-01-06 00:00:00,357.860,357.860,357.860,357.860,1,50,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3,1971-01-07 00:00:00,357.870,357.870,357.870,357.870,1,50,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
4,1971-01-08 00:00:00,357.820,357.820,357.820,357.820,1,50,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60245,2024-07-29 06:00:00,153.409,153.685,153.294,153.376,21860,23,0,41.243804,55.726934,63.360402,-0.374853,-0.464866,0.090013,0,0,1
60246,2024-07-29 09:00:00,153.376,153.910,153.132,153.680,32117,23,0,48.346383,42.514117,54.364770,-0.352448,-0.442382,0.089934,0,0,1
60247,2024-07-29 12:00:00,153.677,153.884,153.579,153.823,21934,23,0,51.559872,41.632364,46.624472,-0.319470,-0.417800,0.098330,0,0,1
60248,2024-07-29 15:00:00,153.826,154.200,153.720,154.038,33003,23,0,56.325828,48.897912,44.348131,-0.272842,-0.388808,0.115967,0,0,1
60249,2024-07-29 18:00:00,154.037,154.039,153.924,153.967,2128,23,0,54.268702,54.447022,48.325766,-0.238863,-0.358819,0.119956,1,0,0

In [14]:
df_rates.tail(30)

,time,open,high,low,close,tick_volume,spread,real_volume,rsi,stoch_k,stoch_d,macd,macd_signal,macd_hist,green_bar,red_bar,black_bar
60220,2024-07-24 03:00:00,155.754,155.982,155.168,155.247,24870,23,0,18.771279,7.424869,7.129683,-0.461589,-0.336517,-0.125072,0,-1,0
60221,2024-07-24 06:00:00,155.246,155.287,154.350,154.624,29316,23,0,12.948183,9.427748,8.258423,-0.542520,-0.377718,-0.164802,0,-1,0
60222,2024-07-24 09:00:00,154.624,154.939,154.368,154.851,30015,23,0,23.090242,10.511378,9.121331,-0.581636,-0.418501,-0.163135,0,-1,0
60223,2024-07-24 12:00:00,154.852,154.925,154.043,154.181,19839,23,0,16.479089,10.665391,10.201506,-0.659101,-0.466621,-0.192480,0,-1,0
60224,2024-07-24 15:00:00,154.180,154.215,153.097,153.261,42459,23,0,11.297271,8.784971,9.987247,-0.785673,-0.530432,-0.255241,0,-1,0
60225,2024-07-24 18:00:00,153.261,153.847,153.254,153.816,23674,23,0,27.370827,9.114738,9.521700,-0.831612,-0.590668,-0.240944,0,-1,0
60226,2024-07-24 21:00:00,153.819,154.091,153.797,153.896,11830,23,0,29.518624,15.120707,11.006805,-0.851745,-0.642883,-0.208862,0,-1,0
60227,2024-07-25 00:00:00,153.842,153.944,153.494,153.907,10447,23,0,29.851398,21.400712,15.212052,-0.856934,-0.685693,-0.171241,0,-1,0
60228,2024-07-25 03:00:00,153.907,153.961,152.507,152.630,33786,23,0,18.207940,16.223332,17.581584,-0.953104,-0.739175,-0.213928,0,-1,0
60229,2024-07-25 06:00:00,152.630,152.964,152.220,152.732,24026,23,0,21.076601,12.969620,16.864555,-1.009452,-0.793231,-0.216221,0,-1,0
60230,2024-07-25 09:00:00,152.730,152.928,151.929,152.697,38529,23,0,20.784772,11.483630,13.558861,-1.044887,-0.843562,-0.201325,0,-1,0
60231,2024-07-25 12:00:00,152.700,152.734,152.080,152.714,23790,23,0,21.401466,16.846419,13.766557,-1.059387,-0.886727,-0.172660,0,-1,0
60232,2024-07-25 15:00:00,152.715,154.185,152.541,153.634,47408,23,0,47.303276,26.641392,18.323814,-0.985283,-0.906438,-0.078845,0,-1,0
60233,2024-07-25 18:00:00,153.634,154.308,153.623,154.024,32313,23,0,54.688266,37.708693,27.065502,-0.884886,-0.902128,0.017242,0,0,1
60234,2024-07-25 21:00:00,154.023,154.045,153.762,153.911,16628,23,0,52.214721,50.926979,38.425688,-0.805157,-0.882734,0.077577,1,0,0
60235,2024-07-26 00:00:00,153.924,153.985,153.369,153.693,11805,23,0,47.390352,56.439328,48.358334,-0.750906,-0.856368,0.105462,0,0,1
60236,2024-07-26 03:00:00,153.693,154.133,153.356,153.911,29719,23,0,52.509536,61.260917,56.209075,-0.682454,-0.821585,0.139131,1,0,0
60237,2024-07-26 06:00:00,153.910,153.910,153.494,153.634,14712,23,0,45.890054,65.476098,61.058781,-0.643143,-0.785897,0.142754,0,0,1
60238,2024-07-26 09:00:00,153.633,154.424,153.533,154.292,30469,23,0,59.899681,77.511020,68.082678,-0.552525,-0.739222,0.186698,1,0,0
60239,2024-07-26 12:00:00,154.293,154.728,154.024,154.601,22632,23,0,64.881267,87.280284,76.755801,-0.450581,-0.681494,0.230913,1,0,0
60240,2024-07-26 15:00:00,154.601,154.718,153.081,153.492,43185,23,0,42.680459,82.004485,82.265263,-0.454043,-0.636004,0.181961,0,0,1
60241,2024-07-26 18:00:00,153.494,153.870,153.485,153.723,20938,23,0,47.080834,71.799452,80.361407,-0.433154,-0.595434,0.162280,0,0,1
60242,2024-07-26 21:00:00,153.724,153.819,153.666,153.764,9520,23,0,47.908908,61.831607,71.878515,-0.408581,-0.558064,0.149482,0,0,1
60243,2024-07-29 00:00:00,153.632,154.203,153.571,154.136,12583,23,0,55.311119,69.501012,67.710690,-0.354998,-0.517450,0.162453,1,0,0
60244,2024-07-29 03:00:00,154.141,154.344,153.004,153.408,35961,23,0,41.761918,64.853258,65.395292,-0.367045,-0.487369,0.120325,0,0,1
60245,2024-07-29 06:00:00,153.409,153.685,153.294,153.376,21860,23,0,41.243804,55.726934,63.360402,-0.374853,-0.464866,0.090013,0,0,1
60246,2024-07-29 09:00:00,153.376,153.910,153.132,153.680,32117,23,0,48.346383,42.514117,54.364770,-0.352448,-0.442382,0.089934,0,0,1
60247,2024-07-29 12:00:00,153.677,153.884,153.579,153.823,21934,23,0,51.559872,41.632364,46.624472,-0.319470,-0.417800,0.098330,0,0,1
60248,2024-07-29 15:00:00,153.826,154.200,153.720,154.038,33003,23,0,56.325828,48.897912,44.348131,-0.272842,-0.388808,0.115967,0,0,1
60249,2024-07-29 18:00:00,154.037,154.039,153.924,153.967,2128,23,0,54.268702,54.447022,48.325766,-0.238863,-0.358819,0.119956,1,0,0